#settings {
	text-align: center;
}

#tic-tac-toe {
	margin: auto;
	display: grid;
	width: 500px;
	height: 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 5px;
	background-color: #000;
}

.tic-tac-toe-cell {
	cursor: pointer;
	background-color: #FFF;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.tic-tac-toe-cell:hover {
	background-color: #AAA;
}

.cell-disabled {
	pointer-events: none;
	opacity: 0.8;
}

#players-stats {
	justify-content: space-around;
}

#winner {
	text-align: center;
	margin: auto;
}

@media all and (max-width: 1000px) {
	#tic-tac-toe {
		width: 400px;
		height: 400px;
	}
}

@media all and (max-width: 800px) {
	#tic-tac-toe {
		width: 300px;
		height: 300px;
	}
}
